<div class="form-item">
<label for="input-searchDescription2">...</label>
{% block itemContent %}<p>No item content specified</p>{% endblock %}
</div>

	    <div class="form-item searchInput">
	        <label for="search-1"><img src="search_18px.svg"></label>
    	  	<input id="search-1" class="visible" type="text" oninput="filterItems(this)" onfocus="activateSearchInput(event)" onblur="deactivateSearchInput(event)" onkeydown="menuKeyHandler(event,this)">
      		<input class="shadow" name="partyName" type="text">
      		<div class="inputBackground">&nbsp;</div>
      		<button class="upDownButton" onclick="toggleItemList(event,this)" tabindex="-1" type="button" title="Show all" onblur="deactivateSearchInput(event)"></button>
      		<div class="dropList">
        		<div data-value="2" onclick="selectItem(this)">Australian Foundation Investment Company</div>
        		<div data-value="3" onclick="selectItem(this)">BHP Billiton</div>
        		<div data-value="4" onclick="selectItem(this)">Commonwealth Bank of Australia</div>
        		<div data-value="1" onclick="selectItem(this)">Qantas Airways</div>
        		<div data-value="5" onclick="selectItem(this)">Telstra Corporation</div>
      		</div>
    	</div>
