$label-font : Helvetica, Arial, sans-serif;
$input-font : Courier, Courier New, monospaced;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  font-family: $label-font; 
}

section.top {
  padding: 1em; 
}

input, textarea, select {
    display: inline-block;
    //width: 100%;
    font-family: $input-font;
    font-size: 15px;
    height: 26px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    outline: none;
    //border-radius: 3px;
    box-shadow: none;
    padding: 0 6px;
}

label {
    display: inline-block;
    font-family: $label-font;
    width: 10em;
    font-size: 15px;
    height: 22px;
    vertical-align: bottom;
    border: 1px solid transparent;
    color: #313439;
    margin-right: 4px;
    text-align: right;
    padding-top: 4px;
    
}

.form > .form-item:last-child {
    margin-bottom: 0;
}

form, .form-item {
    margin-bottom: 4px;
}

div.desc {
    margin-top: 4px;
    margin-bottom: -8px;
}

.desc {
    color: rgba(49, 52, 57, 0.5);
    font-size: 12px;
    line-height: 20px;
}

