$label-font : Helvetica, Arial, sans-serif;
$font-size: 16px;
$height: 26px;

input.error {
  border: 1px solid red;
}
input.required,
input.incomplete {
  border: 1px solid rgba(255, 140, 0, 1);
}
input:focus {
  border-style: dotted;
}

.searchInput {
  position: relative;
  display: inline-block;
  height: $height;
  ////font-size: 0;
}

.form-item.fixtest {
  /////height: 26px !IMPORTANT;
}

.searchInput input.visible {
  font-family: $label-font;
  font-size: $font-size;
  height: $height;
  //////// wrong width: 200px;   /* to be calculated */
  //box-sizing: border-box;
  background: transparent;
  //padding: 4px 10px;
  //padding: 0;
  //margin: 0;
  display: inline;
  vertical-align: top;
  line-height: $height; /* the same value as height */
  outline: none;
}
.searchInput input.shadow {
  position: absolute;
  left: -9999px;
}
.searchInput div.inputBackground {
  /////// wrong width: 200px;
  //height: 20px;
  height: $height;
  font-size: $font-size;
  position: absolute;
  top: 0;
  line-height: 24px; /* height (26) less top and bottom border (2 x 1) */
  z-index: -1;
  border: 1px solid transparent;
  //padding: 4px 10px;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  //box-sizing: border-box;
}
.searchInput div.inputBackground span {
  font-size: $font-size;
  color: #AAAAAA;
  line-height: $height;
  z-index: -1;
}

.searchInput div.dropList {
  display: none;
  font-size: $font-size;
  //box-sizing: border-box;
  ////// wrong width: 200px;
  border: 1px solid green;
  background: #ffffff;
  padding: 0 6px;
  margin: 0;
  position: absolute;
  top: $height;
  line-height: 24px;  /* some figure yet to be determined */
  ////height: 0;
  z-index: 2;
  cursor: pointer;
}
.searchInput div.dropList div {
  white-space: nowrap;
}
.searchInput div.dropList.calcSize div {
  display: block !IMPORTANT;
}
.searchInput > div.dropList.calcSize {
  display: block !IMPORTANT;
  position: absolute;
  left: -9999px;
}
.searchInput.active div.dropList.allShowing,
.searchInput.active div.dropList.someShowing {
  display: block;
  background: cyan;
}

.searchInput.active div.dropList.allShowing div {
  display: block;
}
.searchInput.active div.dropList.someShowing div {
  display: none;
}
.searchInput.active div.dropList.someShowing div.show {
  display: block;
}
.searchInput.active div.dropList>div {
  font-size: $font-size;
  //padding: 4px 10px;
  padding: 0;
}
.searchInput.active div.dropList>div:hover {
  background-color: #FFE2BF;
}
.searchInput.active div.dropList>div.highlight {
  background-color: #FFC57F;
}

.searchInput button.upDownButton {
  display: none;
  line-height: 24px; /* height (26) less top and bottom border (2 x 1) */
}
.searchInput.active button.upDownButton {
  font-size: $font-size;
  //box-sizing: border-box;
  display: inline;
  width: $height;
  height: $height;
  //width: 24px;
  //height: 24px;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 0;
  margin: 0;
  border: none;
  vertical-align: top;
}
.searchInput.active button.upDownButton:disabled {
  cursor: default;
}
.searchInput.active button.upDownButton:before {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: $height;
  height: $height;
  content: url(downArrow.svg);
}
.searchInput.active button.upDownButton:disabled:before {
  opacity: 0.4;
}
.searchInput.active button.upDownButton.up:before {
  content: url(upArrow.svg);
}
.searchInput.active button.upDownButton.upAndFilter:before {
  content: url(upAndFilter.svg);
}
.searchInput img {
  margin-left: -26px;
}
