{% extends "page" %}

{% block title %}{{title}}{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{context}}/resources/kube.css">
  <link rel="stylesheet" href="{{context}}/resources/kube_003.css">
  <link rel="stylesheet" href="{{context}}/resources/master.css">
  <link rel="stylesheet" href="{{context}}/resources/kube_002.css">
  <link rel="stylesheet" href="{{context}}/resources/kube-overrides.css">
{% endblock %}

{% block scripts %}
  <script src="{{context}}/resources/ws.js"></script>
  <script>
  window.onload = function setup() {
      // Note the 'x' following the context variable
	  websocketStart("{{hostAndPort}}{{context}}x", "{{entityName}}");
  }
  </script>
{% endblock %}

{% block body %}
  <div id="socket-0"></div>
{% endblock %}
