{% extends "page" %}

{% block title %}{{title}}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/global/flat.css" type="text/css">
{% endblock %}

{% block scripts %}
	<script type="module">
import * as domEditCallback from "/global/domEdit.js";
import {openWebSocket} from "/global/ws.js";

var websocket;

window.addEventListener("load", function() {
	let websocket1 = openWebSocket("/roundtrip/{{name}}", domEditCallback, function(ws) {
		console.log("websocket: onopen method");
		ws.sendMessage("hello");
	});
	window.websocket = websocket1;
}, false);
	</script>
{% endblock %}

{% block body %}
  <div id="contentHere0">
  </div>
{% endblock %}
