<!DOCTYPE html>
<html>
<head>
  <title>Accounting</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/global/favicon.ico" />
  <style>
html, body { 
  margin:0; padding:0; 
}
  </style>
</head>
<body>
  <div id="main">
    <div id="pagelinks">
      <div>
        <a href="/a/{{document.hashCode}}" target="Accounting data" title="Accounting data">$...&nbsp;&nbsp;&nbsp;</a>
      </div>
      <div>
        <a href="/docstore{{sourcePath}}" title="Source document">{{document.originExtension | upper | slice(1)}}</a>
      </div>
    </div>
  </div>
</body>
</html>
 