@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i|Roboto:300,300i,400,500,700');

html {
  font-size: 20px;
}

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

h1.title {
  font-size: 1.5rem;
  font-weight: 500;
  xxxxline-height: 1.06667em;
  line-height: 1.1111em;
}

h1.title + p {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.75);
}

h1,
.h1 {
  font-size: 48px;
  line-height: 1.0833em; 
}

h2,
.h2 {
  font-size: 36px;
  line-height: 1.1111em; 
}

h3,
.h3 {
  font-size: 24px;
  line-height: 1.3333em; 
}

h4,
.h4 {
  font-size: 18px;
  line-height: 1.3333em; 
}

h5,
.h5 {
  font-size: 16px;
  line-height: 1.5em; 
}

h6,
.h6 {
  font-size: 12px;
  line-height: 1.6667em;
}

pre, code, samp, var, kbd {
  font-family: "Roboto Mono", Consolas, Monaco, "Courier New", monospace;
}

input,
select,
textarea,
fieldset {
  font-family: "Roboto Mono", Consolas, Monaco, "Courier New", monospace;
  font-size: 1rem;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  vertical-align: middle;
  -webkit-appearance: none;
  padding: 0;
  border: none;
  xxxxcolor: #004d99;
  border-bottom: 1px solid #808080;
  box-shadow: none;
  border-radius: 0;
  outline: none; 
  height: 1.5rem;
  margin: 0;
}
  
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus {
  xxxborder-bottom-color: #9FBFDF;
  xxxbox-shadow: 0 2px #9FBFDF; 
  border-bottom-color: #ffffff;
  box-shadow: 0 2px #808080; 
}

input[type="email"]::-ms-clear,
input[type="number"]::-ms-clear,
input[type="search"]::-ms-clear,
input[type="text"]::-ms-clear,
input[type="date"]::-ms-clear,
input[type="tel"]::-ms-clear,
input[type="url"]::-ms-clear,
input[type="password"]::-ms-clear {
  width: 0;
  height: 0; 
}

.desc {
  font-weight: 300;
  font-size: 0.65rem;
  color: rgba(0, 0, 0, 0.5);
  xxxxcolor: #325d81;
}

.form label {
  font-weight: 300;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.75);
  xxxxfont-style: italic;
  xxxxcolor: #004d99;
}

label span.desc {
  margin-left: 2em;
  line-height: 20px;
  font-style: normal;
}

button,
.button {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

